<nav class="navbar navbar-expand-lg navbar-dark bg-light"  style="background-color: #94d9db;">
    <a class="navbar-brand" href="/">Navbar</a>
           
    

    <div class="collapse navbar-collapse " class="navbarNavAltMarkup">
        <div class="navbar-nav ">
            
            <a class="nav-link active" style="font-size: 24px;" href="/">Home <span class="sr-only">(current)</span></a>
            <a class="nav-link active" style="font-size: 24px;" href="{{url_for('main.blogs')}}">Blogs</a>
            <a class="nav-link active" style="font-size: 24px;" href="{{url_for('main.new_blog')}}">Add</a>
           
        </div>

        <ul class="nav navbar-nav navbar-right">
            {% if current_user.is_authenticated %}
            <li class="nav-item">
                <a class="nav-link" style="font-size: 24px;" href="{{url_for('main.profile',uname=current_user.username)}}"
                    title="profile">{{current_user.username}}</a>

            </li>
            <li class="nav-item">
                <a class="nav-link" style="font-size: 24px;" href="{{url_for('auth.logout')}}">Sign out</a>
            </li>
            {% else %}

            <li class="nav-item">
                <a class="nav-link" style="font-size: 24px;" href="{{url_for('auth.login')}}">Login</a>
            </li>
            {% endif %}
        </ul>

    </div>
</nav>
